# Traffic OpenSky Trajectory Download Tutorial

In [2]:
import numpy as np
import traffic
from traffic.data import opensky
from matplotlib import pyplot as plt 
%matplotlib inline

In [3]:
opensky.username='thinhhoang'
opensky.password='iQ6^yrwe7o3m'

In [4]:
fl_list = opensky.flightlist("2021-05-24 15:00", "2021-05-24 16:30", arrival_airport='KDFW')
fl_list.head()

,callsign,day,destination,origin,firstseen,icao24,lastseen
56,AAL1683,2021-05-24 00:00:00+00:00,KDFW,KSLC,2021-05-24 12:52:38+00:00,addb4a,2021-05-24 15:01:13+00:00
90,SKW3223,2021-05-24 00:00:00+00:00,KDFW,NaN,2021-05-24 13:40:32+00:00,aa0a6e,2021-05-24 15:04:27+00:00
6,AAL1374,2021-05-24 00:00:00+00:00,KDFW,NaN,2021-05-24 13:08:07+00:00,a4ba76,2021-05-24 15:07:19+00:00
61,ENY3971,2021-05-24 00:00:00+00:00,KDFW,NaN,2021-05-24 13:31:40+00:00,a1ed5f,2021-05-24 15:17:27+00:00
30,AAL2588,2021-05-24 00:00:00+00:00,KDFW,NaN,2021-05-24 14:35:09+00:00,abea11,2021-05-24 15:19:27+00:00